
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/navbar/">

	<title>Late Night Pharmacy</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet">

</head>
<body>

<div class="container">

	<!-- Static navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Late Night Pharmacy</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pharmacist <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/pharmacist">Pharmacist</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicine<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/medicine">Medicine</a></li>

						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Late Night Pharmacy</h1>
		<div style="background-image: url('/images/phar2.jpg');">
		<p>To provide safe, high quality patient care in an atmosphere of professionalism, respect, and effective communication.</p>
		<p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View more &raquo;</a>
		</p>
	</div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>


<br/>






<br/>
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

	<div style="background-color: #21d192;">
		<div class="container">

			<!-- Grid row-->
			<div class="row py-4 d-flex align-items-center">

				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-6 col-lg-7 text-center text-md-right">

					<!-- Facebook -->
					<a class="fb-ic">
						<i class="fab fa-facebook-f white-text mr-4"> </i>
					</a>
					<!-- Twitter -->
					<a class="tw-ic">
						<i class="fab fa-twitter white-text mr-4"> </i>
					</a>
					<!-- Google +-->
					<a class="gplus-ic">
						<i class="fab fa-google-plus-g white-text mr-4"> </i>
					</a>
					<!--Linkedin -->
					<a class="li-ic">
						<i class="fab fa-linkedin-in white-text mr-4"> </i>
					</a>
					<!--Instagram-->
					<a class="ins-ic">
						<i class="fab fa-instagram white-text"> </i>
					</a>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row-->

		</div>
	</div>

	<!-- Footer Links -->
	<div class="container text-center text-md-left mt-5">

		<!-- Grid row -->
		<div class="row mt-3 dark-grey-text">

			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

				<!-- Content -->
				<h6 class="text-uppercase font-weight-bold">Late Night Pharmacy</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>All members of Late Night Pharmacy platform are fully regulated by, and registered with the General Pharmaceutical Council.
					All members are fully vetted and checked before joining us and abide by the platforms terms and conditions.

					We are fully committed to providing the best service to our members who will in turn serve you as upstanding professionals.

					However, the platform is intended as a solution to bring pharmacies online,
					therefore we are NOT legally responsible for the health advice, outcomes and recommendations given by individual pharmacists.
					</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">Information</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>
					<a class="dark-grey-text" href="#!">customer services</a>
				</p>
				<p>
					<a class="dark-grey-text" href="#!">suppliers</a>
				</p>
				<p>
					<a class="dark-grey-text" href="#!">accounts</a>
				</p>
				<p>
					<a class="dark-grey-text" href="#!"></a>
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">Extras</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>
					<a class="dark-grey-text" href="#!">privacy policy</a>
				</p>
				<p>
					<a class="dark-grey-text" href="#!">cookie policy</a>
				</p>
				<p>
					<a class="dark-grey-text" href="#!">Terms & conditions</a>
				</p>
				<p>
					<a class="dark-grey-text" href="#!">Help</a>
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">Contact</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>
					<i class="fas fa-home mr-3"></i> Juja, Kiambu, Kenya</p>
				<p>
					<i class="fas fa-envelope mr-3"></i> info@latenightpharmacy.com</p>
				<p>
					<i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
				<p>
					<i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center text-black-50 py-3">© 2021 Copyright:
		<a class="dark-grey-text" href="https://mdbootstrap.com/"> Late Night Pharmacy</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->
<!-- Footer -->
