<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
	<meta charset="ISO-8859-1">
	<title>Create New Medicine</title>
</head>
<body style="background-color: #fff;">
<div align="center">
	<h1>Create New Medicine</h1>
	<br/>
	<div style="background-image: url('/images/phar4.jpeg');">
	<form action="#" th:action="@{/save}" th:object="${medicine}" method="post">
		<table border="0" cellpadding="10">
			<tr>
				<td>Medicine Name:</td>
				<td><input type="text" th:field="*{name}"/></td>
			</tr>
			<tr>
				<td>Category:</td>
				<td><input type="text" th:field="*{category}"/></td>
			</tr>
			<tr>
				<td>Company:</td>
				<td><input type="text" th:field="*{company}"/></td>
			</tr>
			<tr>
				<td>Price:</td>
				<td><input type="text" th:field="*{price}"/></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">Save</button>
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
</body>
</html>


<br/>
<br/>
<br>
<!-- Footer -->
<footer class="page-footer font-small blue" style="text-align: center;">

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2021 Copyright:
		<a href=""> Late Night Pharmacy</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->